
        body,
        p,
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            font-family: "Open Sans", Arial, sans-serif;
            color: rgb(102, 102, 102);
        }

        body,
        html {
            height: 100%;
            line-height: 1.8;
        }

        /* Full height image header */
        .bgimg-1 {
            background-position: center;
            background-size: cover;
            background-image: url("https://img1.goodfon.com/wallpaper/nbig/7/28/tonight-alive-music-concert.jpg");
            min-height: 100%;
        }

        .w3-button {
            transition: transform .8s;
        }

        .w3-button:hover {
            -ms-transform: scale(1.1);
            /* IE 9 */
            -webkit-transform: scale(1.1);
            /* Safari 3-8 */
            transform: scale(1.1);
        }